/*Strat Startistics*/
.our-statistique{
  padding: 100px 0;
  background:url(/images/statistics-bg.png),#ff6300;
  background-repeat: no-repeat;
  background-position: top right;
  @media (max-width:767px) {
    &{
      background-position: top 300px right;
    }
  }
  .statis-box{
    display: flex;
    justify-content: space-between;
    @media (max-width:767px) {
      &{
        flex-direction: column;
        align-items: center;
        gap: 20px;
      }
    }
    div{
      text-align: center;
      background-color: #282828;
      border-radius: 5px;
      width: 220px;
      padding: 10px;
      span{
        font-weight: bold;
        font-size: 2rem;
      }
      p{
        font-size: 1.6rem;
        padding: 5px 0;
      }
    }
  }
}
  /*ENd Startistics*/