// humberger navigation toggle
.hamburger {
  position: relative;
  width: 50px;
  height: 50px;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  display: none;
  z-index: 999;
}
@media (max-width:767px) {
  .hamburger{
        display: flex;
    }
}
  /* Hamburger Line */
.hamburger > div {
    position: relative;
    width: 100%;
    height: 2px;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.4s ease;
}
  /* Hamburger Lines - Top & Bottom */
.hamburger > .not-checked::before,
.hamburger > .not-checked::after {
    content: '';
    position: absolute;
    z-index: 1;
    top: -5px;
    width: 100%;
    height: 2px;
    background: inherit;
}
  /* Moves Line Down */
.hamburger > .not-checked::after {
    top: 5px;
}
/* animation */
.hamburger > .checked::before,
.hamburger > .checked::after {
  content: '';
  position: absolute;
  z-index: 1;
  top: 0px;
  transform: rotate(90deg);
  width: 100%;
  height: 2px;
  background: inherit;
}
.hamburger > .checked {
  transform: rotate(225deg);
}
